html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: #33b5e5;
}

.bar-partnerReports {
	fill: #00873a;
}


.bar-donorReport {
	fill: #e23139;
}

.bar-donorVisit {
	fill: #33b5e5;
}

.bar-donorInitiative {
	fill: #ccae27;
}

.bar-partnerFieldVisit {
	fill: #9b37a4;
}

.bar-partnerAudit {
	fill: #79c9b9;
}

.bar-baselineSurvey {
	fill: #981481;
}

.bar-endlineSurvey {
	fill: #ef25a0;
}

.bar-postlineSurvey {
	fill: #b38c39;
}

.bar-partnerDisbursement {
	fill: #be441e;
}


.bar-marketAssessments {
	fill: #0076c1;
}



.bar-convenings {
	fill: #3ce5f0;
}


.bar-event {
	fill: #206498;
}

.bar-waterPortalUpdates {
	fill: #e82a69;
}

.bar-mitigationPlans {
	fill: #9c39f8;
}

.bar-general {
	fill: #6e27cc;
}


.legend {
	padding: 5px;
	font: 10px sans-serif;
	background: yellow;
	box-shadow: 2px 2px 1px #888;
}

			#tooltip {
				position: absolute;
				width: 200px;
				height: auto;
				padding: 10px;
				background-color: white;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				pointer-events: none;
			}
			
			#tooltip.hidden {
				display: none;
			}
			
			#tooltip p {
				margin: 0;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 20px;
			}
            
div.tooltip {   
  position: absolute;                     
  width: auto;                  
  height: 16px;                 
  padding: 12px 15px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}


    * {
      margin: 0;
      padding: 0;
  }
  body {
      background: #fff;
      font-family: 'Open-Sans',sans-serif;

  }

#container{
  margin: 0 auto;
  position: relative;
  width:800px;
  overflow: visible;
}


  .svg {
    width:800px;
    height:400px;
    overflow: visible;
    position:absolute;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
      stroke-width: 0;
}


#tag {
  color: white;
  background: #FA283D;
  width: 150px;
  position: absolute;
  display: none;
  padding:3px 6px;
  margin-left: -80px;
  font-size: 11px;
}



#tag:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #FA283D;
  top: -20px;
}